html, body,header, #intro
{
	height: 100%;
	width: 100%;
}
#intro
{
	background: url(../img/intro.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.top-nav-collapse
{
	background-color: #24355c;
}
.row p
{
	font-size: 20px;
}
@media (max-width: 768px)
{
	.navbar: not(.top-nav-collapse)
	{
		background-color: #24355c;		
	}
}

button a
{
	color: white;
}
button a:hover
{
	color: gray;
}
#team h2
{
	color: black;
}

