html, body,header, #intro
{
	height: 100%;
	width: 100%;
}
#intro
{
	background: url(../img/intro.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

#gap1
{
	background: url(../img/intro.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}


.top-nav-collapse
{
	background-color: #24355c;
}
.row p
{
	font-size: 20px;
}
@media (max-width: 768px)
{
	.navbar: not(.top-nav-collapse)
	{
		background-color: #24355c;		
	}
}


button a
{
	color: white;
}
button a:hover
{
	color: gray;
}
#team h2
{
	color: black;
}


#gallery h2
{
	font-size: 40px;
	color: black;
	margin-top: -50px;
	margin-bottom: 20px;
}

#best-features h2
{
	color: black;
	font-size: 40px;
	margin-bottom: 0px;
}

#best-features p
{
	margin-bottom: 20px;
}

#ok
{
	background: url(../img/intro2.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	height: 500px;
}
#ok2
{
	background: url(../img/intro3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: 10px;
	height: 500px;
}
