html, body,header, #intro
{
	height: 100%;
	width: 100%;
}

#basicExampleNav
{
	height: 50px;
	font-size: 20px;
}

#intro
{
	background: url(../img/intro4.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

#gap1
{
	background: url(../img/intro.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}


.top-nav-collapse
{
	background-color: #24355c;
}
.row p
{
	font-size: 20px;
}
@media (max-width: 768px)
{
	.navbar: not(.top-nav-collapse)
	{
		background-color: #24355c;		
	}
}



button a
{
	color: white;
}
button a:hover
{
	color: gray;
}
#team h2
{
	color: black;
}


#gallery h2
{
	font-size: 40px;
	color: black;
	margin-top: -50px;
	margin-bottom: 20px;
}

#best-features h2
{
	color: black;
	font-size: 40px;
	margin-bottom: 0px;
}
#plane_button
{
	text-align: center;
}
#videoframe
{
	text-align: left;
}

#best-features p
{
	margin-bottom: 20px;
}

.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
#reviews
{
	background: url("https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg");
}


#ok
{
	background: url(../img/intro2.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	height: 500px;
}
#ok2 
{
	background: url(../img/intro5.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: 10px;
	height: 500px;
}

#ok3
{
	background: url(../img/intro6.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: 10px;
	height: 500px;
}
#ok4
{
	background: url(../img/intro10.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	margin-top: 10px;
	height: 500px;
}